# This is Jeopardy!

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [6]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

#Added this to ensure I see all columns
pd.set_option('display.max_columns', None)

jeopardy_data = pd.read_csv('jeopardy.csv')

print(jeopardy_data.head(3))

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona

In [33]:
#Let's start investigating the data:
jeopardy_data.describe()
column_names = jeopardy_data.columns.tolist() 
column_names # here we found the issue with the column names

#Renaming columns
new_columns = {
    'Show Number': 'Show Number'
    ,' Air Date': 'Air Date'
    ,' Round' : 'Round'
    ,' Category' : 'Category'
    ,' Value' : 'Value'
    ,' Question' : 'Question'
    ,' Answer' : 'Answer'
}
jeopardy_data_clean = jeopardy_data.rename(columns=new_columns)
#jeopardy_data_clean.head(3)

#Check if the added spaces is also occurring in the values
jeopardy_data_clean.Question = jeopardy_data_clean.Question.str.strip() 
jeopardy_data_clean.head(3) #looks like it's not happening

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona

In [37]:
# More exploration to see how can we keep cleaning the data
jeopardy_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1   Air Date     216930 non-null  object
 2   Round        216930 non-null  object
 3   Category     216930 non-null  object
 4   Value        216930 non-null  object
 5   Question     216930 non-null  object
 6   Answer       216928 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB

In [40]:
jeopardy_data_clean.Round.value_counts() #useful for categorical data - to understand distribution
jeopardy_data_clean.Category.value_counts() #looks like Category might have duplicates with similar names or have a long tail

Category
BEFORE & AFTER        547
SCIENCE               519
LITERATURE            496
AMERICAN HISTORY      418
POTPOURRI             401
                     ...
1999 TELEVISION         1
WORDS IN PHYSICS        1
LITERATURE & MUSIC      1
'90s NOTABLES           1
CELEBRITY NAMES         1
Name: count, Length: 27995, dtype: int64

In [45]:
#Let's try to dive into Category:
filtered_df = jeopardy_data_clean[jeopardy_data_clean.Category.str.contains('LITERATURE', case=False)]
filtered_df.Category.value_counts()

Category
LITERATURE               496
AMERICAN LITERATURE      234
WORLD LITERATURE         105
ENGLISH LITERATURE        95
CHILDREN'S LITERATURE     93
                        ...
LITERATURE & FILM          1
LITERATURE & MUSIC         1
KINGS & LITERATURE         1
CANADIAN LITERATURE        1
EUROPEAN LITERATURE        1
Name: count, Length: 95, dtype: int64

### WIP - IDEA: create a new column and group these categories into high-level categories like History, Literature, etc

In [52]:
# Checking the Category
non_string_mask = jeopardy_data_clean['Category'].apply(lambda x: not isinstance(x, str))
non_string_categories = jeopardy_data_clean[non_string_mask]  
non_string_categories # this is giving zero rows -> which means all are strings ?

Empty DataFrame
Columns: [Show Number, Air Date, Round, Category, Value, Question, Answer]
Index: []

In [57]:
jeopardy_data_clean['Value'].value_counts()

Value
$400       42244
$800       31860
$200       30455
$600       20377
$1000      19539
           ...
$5,401         1
$1,183         1
$1,203         1
$11,600        1
$11,200        1
Name: count, Length: 150, dtype: int64

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [85]:
def get_jeopardy_data(words_to_find):
    condition = True
    # Dynamically build the condition to check for all words in the list
    for word in words_to_find:
        condition &= jeopardy_data_clean.Question.str.contains(word, case=False, na=False)
    # Filter the DataFrame using the dynamically constructed condition
    filtered_jeopardy_data = jeopardy_data_clean[condition]
    number_of_words = len(filtered_jeopardy_data)
    print("We have {number_of_words} questions containing the words {list_of_words}".format(number_of_words=number_of_words, list_of_words=words_to_find) )
    return filtered_jeopardy_data

#Testing
list_of_words = {'king', 'viking', 'england'}
get_jeopardy_data(list_of_words)

list_of_words2 = {'king', 'England'}
get_jeopardy_data(list_of_words2) # expected 152 rows as per codeacademy

We have 5 questions containing the words {'viking', 'king', 'england'}
We have 152 questions containing the words {'king', 'England'}

,Show Number,Air Date,Round,Category,Value,Question,Answer
4953,3003,1997-09-24,Double Jeopardy!,"""PH""UN WORDS",$200,"Both England's King George V & FDR put their stamp of approval on this ""King of Hobbies""",Philately (stamp collecting)
6337,3517,1999-12-14,Double Jeopardy!,Y1K,$800,"In retaliation for Viking raids, this ""Unready"" king of England attacks Norse areas of the Isle of Man",Ethelred
9191,3907,2001-09-04,Double Jeopardy!,WON THE BATTLE,$800,This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt,Henry V
11710,2903,1997-03-26,Double Jeopardy!,BRITISH MONARCHS,$600,"This Scotsman, the first Stuart king of England, was called ""The Wisest Fool in Christendom""",James I
13454,4726,2005-03-07,Jeopardy!,A NUMBER FROM 1 TO 10,$1000,It's the number that followed the last king of England named William,4
...,...,...,...,...,...,...,...
208295,4621,2004-10-11,Jeopardy!,THE VIKINGS,$600,In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England,William the Conqueror
208742,4863,2005-11-02,Double Jeopardy!,BEFORE & AFTER,"$3,000",Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish,William of Orange roughy
213870,5856,2010-02-15,Double Jeopardy!,URANUS,$1600,In 1781 William Herschel discovered Uranus & initially named it after this king of England,George III
216021,1881,1992-11-09,Double Jeopardy!,HISTORIC NAMES,$1000,"His nickname was ""Bertie"", but he used this name & number when he became king of England in 1901",Edward VII
216789,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,$1200,"This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric",Wessex

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [90]:
# More testing
list_of_words3 = ['no value']
get_jeopardy_data(list_of_words3)

We have 3 questions containing the words ['no value']

,Show Number,Air Date,Round,Category,Value,Question,Answer
87969,3640,2000-06-02,Double Jeopardy!,ABSOLUTELY NOTHING,"$2,000",It can mean zero; something of no value; or a coded message,Cypher
151441,3357,1999-03-23,Jeopardy!,DON'T LISTEN TO THEM!,$200,"An 1876 Western Union internal memo said this device has ""many shortcomings"" & ""is inherently of no value to us""",Telephone
162468,3371,1999-04-12,Double Jeopardy!,LEGALESE,$1000,"From the Latin for ""no value"", it's a jury's decision to acquit though the law points to conviction",nullification

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [140]:
jeopardy_data_clean['Value'].value_counts()

jeopardy_data_clean['USD_value'] = jeopardy_data_clean['Value'].str.strip().replace('[$,]', '', regex=True) 
jeopardy_data_clean['USD_value'] = jeopardy_data_clean['USD_value'].str.strip().replace('no value', '', regex=True) 

jeopardy_data_clean['USD_value2'] = pd.to_numeric(jeopardy_data_clean['USD_value'])
print(jeopardy_data_clean.USD_value2.head(200))

#Testing average values for groups of words
easy_words = ['king', 'england']
mean_value_easy_words = round(get_jeopardy_data(easy_words).USD_value2.mean(),1)
print("The average value for these questions is ${value}".format(value=mean_value_easy_words) )

medium_words = ['african', 'king']
mean_value_medium_words = round(get_jeopardy_data(medium_words).USD_value2.mean(),1)
print("The average value for these questions is ${value}".format(value=mean_value_medium_words) )

# Uncomment below to find values
# print(jeopardy_data_clean[ jeopardy_data_clean['USD_value2'] > 2000] )

0      200.0
1      200.0
2      200.0
3      200.0
4      200.0
       ...
195    400.0
196    400.0
197    400.0
198    400.0
199    500.0
Name: USD_value2, Length: 200, dtype: float64
We have 152 questions containing the words ['king', 'england']
The average value for these questions is $910.8
We have 21 questions containing the words ['african', 'king']
The average value for these questions is $1265.0

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [142]:
#no need for a function
words5 = ['king']
values_king = get_jeopardy_data(words5).Answer.value_counts()
print(values_king)

We have 7409 questions containing the words ['king']
Answer
Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: count, Length: 5268, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [146]:
# Investigate the ways in which questions change over time by filtering by the date. 


#first we create the "decade" column to group data
jeopardy_data_clean['Air Date'] = pd.to_datetime(jeopardy_data_clean['Air Date']) # Ensure the date column is in datetime format

# Extract the year from the date, find the decade, and create a new column
jeopardy_data_clean['decade'] = (jeopardy_data_clean['Air Date'].dt.year // 10) * 10

questions_per_decade = jeopardy_data_clean.groupby('decade').Question.count()
questions_per_decade

decade
1980      8108
1990     56745
2000    123852
2010     28225
Name: Question, dtype: int64

In [155]:
#How many questions from the 90s use the word "Computer" compared to questions from the 2000s?
words = ['computer']
specific_questions_per_decade = get_jeopardy_data(words).groupby('decade').Question.count()
print(specific_questions_per_decade)

words = ['gender']
specific_questions_per_decade = get_jeopardy_data(words).groupby('decade').Question.count()
print(specific_questions_per_decade)

We have 431 questions containing the words ['computer']
decade
1980      6
1990     98
2000    268
2010     59
Name: Question, dtype: int64
We have 19 questions containing the words ['gender']
decade
1980     1
1990     2
2000    15
2010     1
Name: Question, dtype: int64

In [163]:
# Is there a connection between the round and the category? 
# Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?

# initial tests
questions_per_round = jeopardy_data_clean.groupby('Round').Question.count()
print(questions_per_round)

categories_per_round = jeopardy_data_clean.groupby('Round').Category.nunique()
print(categories_per_round)

Round
Double Jeopardy!    105912
Final Jeopardy!       3631
Jeopardy!           107384
Tiebreaker               3
Name: Question, dtype: int64
Round
Double Jeopardy!    14576
Final Jeopardy!      1952
Jeopardy!           15155
Tiebreaker              3
Name: Category, dtype: int64

In [191]:
#Let's create a super_category column
def assign_super_category(category):
    #Geography, Entertainment, History, Art and Literature, Science and Nature, and Sports and Leisure.

    #Literature
    if 'literature' in category.lower():
        return 'Art_Literature'
    elif 'art' in category.lower():
        return 'Art_Literature'
    elif 'art' in category.lower():
        return 'Art_Literature'
    elif 'WORD ORIGINS' in category.lower():
        return 'Art_Literature'
    #Geography
    elif 'geography' in category.lower():
        return 'Geography'
    elif 'U.S. CITIES' in category.lower():
        return 'Geography'
    #Science
    elif 'science' in category.lower():
        return 'Science'
    elif 'nature' in category.lower():
        return 'Science'
    #History
    elif 'history' in category.lower():
        return 'History'
    elif 'historic' in category.lower():
        return 'History'
    #Sports
    elif 'sports' in category.lower():
        return 'Sports'
    elif 'espn\'s' in category.lower():
        return 'Sports'
    #Leisure
    elif 'leisure' in category.lower():
        return 'Leisure'
        
    # Add more conditions as needed
    else:
        return 'Other'

#Potential idea below - create value groups
def assign_value_group(value):
    if value > 6000:
        return 'value > 6,000$'
    elif 3000 > value > 6000:
        return '$3,000 > value > 6,000$'
    elif 1000 > value > 3000:
        return '$1,000 > value > 3,000$'
    elif 500 > value > 1000:
        return '$500 > value > 1,000$'
    else:
        return 'value < 500$'


jeopardy_data_clean['super_category'] = jeopardy_data_clean.Category.apply(assign_super_category)
jeopardy_data_clean['value_group'] = jeopardy_data_clean.USD_value2.apply(assign_value_group)

print('Questions by super category:')
questions_by_super_category = jeopardy_data_clean.groupby('super_category').Question.count()
print(questions_by_super_category)

print('\n Mean value by super category:')
value_by_super_category = jeopardy_data_clean.groupby('super_category').USD_value2.mean()
print(value_by_super_category)

print('\n Questions by Value groups')
qs_by_value_group = jeopardy_data_clean.groupby('value_group').Question.count()
print(qs_by_value_group)

other_categories = jeopardy_data_clean[jeopardy_data_clean.super_category == 'Other' ].Category

Questions by super category:
super_category
Art_Literature      6138
Geography           1443
History             5045
Leisure                9
Other             199794
Science             2475
Sports              2026
Name: Question, dtype: int64

 Mean value by super category:
super_category
Art_Literature    800.576333
Geography         688.239538
History           718.959916
Leisure           777.777778
Other             752.235700
Science           820.886382
Sports            684.408329
Name: USD_value2, dtype: float64

 Questions by Value groups
value_group
value < 500$      216743
value > 6,000$       187
Name: Question, dtype: int64

# Build a system to quiz yourself.

In [210]:
# Grab random questions, and use the input function 
# to get a response from the user. Check to see if that response was right or wrong.

word_input = input('Enter a word and I will ask you a question related to it:\n')
selected_question = get_jeopardy_data([word_input]).sample(n=1)
question = selected_question.Question.iloc[0] 
answer = selected_question.Answer.iloc[0]

print("\nHere is a random question: ")
print(question)

answer_input = input('\nWhat is your answer?')
print("\nThe answer was: {answer}".format(answer = answer) )

Enter a word and I will ask you a question related to it:
 help

We have 1754 questions containing the words ['help']

Here is a random question:
Want heavenly help to pick the right lingerie?  Bali's website uses these, based on your birthdate, to help you

What is your answer? ?

The answer was: horoscopes/astrological signs

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.